@import "tailwindcss";
@import "@hamhome/ui/globals.css";
@source "../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";

/* fix scroll area viewport display issue */
/* https://github.com/radix-ui/primitives/issues/2964 */
.bookmark-list-view [data-slot="scroll-area-viewport"] > div {
  display: block !important;
}
